header{
  margin-top: 20px;
  background-color: #7baca6;
  width: 100%;
  padding: 5px 0;


  .conteudo-header{
    display: flex;
    justify-content: center;
    max-width: 1080px;


    p{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #ffff;
      font-size: 20px;
      font-style: italic;
    }
  }
}



