footer{
  background-color: #0f5753;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 9px 0;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffff;
  text-align: center;
}
